.app {
  font-family: sans-serif;
  background-color: #000112;
  /* text-align: center; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: none;
}
.top-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 5% 20%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  background-color: #000112;
  /* padding: 5% 10%; */
  cursor: pointer;
  /* position: fixed; */
  /* border: 1px solid red; */
}
.nav a {
  text-decoration: none;
}
.nav a p {
  color: white;
  font-size: 20px;
}

.nav a p:after {
  display: block;
  content: "";
  border-bottom: solid 3px #ef2844;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.nav a p:hover:after {
  transform: scaleX(1);
}

.home {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #000112;
  color: white;
  height: 100vh;
  /* border: 1px solid red; */
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-side {
  flex: 0 0 60%;
}
.left-side,
.p {
  font-size: 48px;
}
.name {
  color: #ef2844;
}
.position {
  border-bottom: 3px solid #ef2844;
}
.work-button {
  margin-top: 25px;
  outline: none;
  border: none;
  /* background-color: #ef2844; */
  background-color: transparent;
  border: 2px solid #ef2844;
  color: white;
  padding: 15px;
  max-width: 100%;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  background: linear-gradient(to right, #ef2844 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.work-button:hover {
  background-position: left bottom;
}

.work-button a {
  color: white;
  text-decoration: none;
}
.btn-grp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-icon {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.social-icon a {
  margin-top: 25px;
  margin-left: 10%;
  cursor: pointer;
  color: white;
}

.right-side {
  width: 300px;
  height: 300px;
  margin-left: 45px;
  flex: 0 0 40%;
}
.logo {
  width: 100%;
  border-radius: 100%;
}
.about {
  background-color: #000112;
  color: white;
  /* border: 1px solid red; */
  padding-top: 10%;
}
.abt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-height: 100%;
  min-height: 400px;
}
.heading {
  /* margin-left: 20%; */
  color: #ef2844;
  background-color: #000112;
}
.content,
.education,
.experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* s */
  padding-top: 10px;
}
.experience-list {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about p {
  line-height: 35px;
  font-size: 18px;
}
.about h3 {
  margin-top: 15px;
}

.work {
  background-color: #000112;
  color: white;
  /* padding-top: 80px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.projects {
  width: 800px;
  max-width: 100%;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* border: 1px solid red; */
  margin: 40px auto;
  padding: 50px;
  /* padding-left: 20%; */
  /* background-color: #000c19; */
  background-color: #152238;
  border-radius: 15px;
  box-shadow: 0px 14px 28px #000c19;
}
.left-project {
  width: 300px;
  height: 200px;
  flex: 0 0 350px;
}
.project {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.right-project {
  flex: 0 1 calc(100%, -350px);
  margin-left: 25px;
  display: grid;
}
.tech {
  color: #ef2844;
  line-height: 28px;
}
.desc {
  line-height: 25px;
}
.buttons {
  display: flex;
  align-items: center;
}
.wrk-btn {
  border: none;
  outline: none;
  color: white;
  /* background-color: #ef2844; */
  background-color: transparent;
  border: 2px solid #ef2844;
  font-size: 18px;
  padding: 10px;
  margin-top: 15px;
  margin-right: 15px;
  cursor: pointer;
  background: linear-gradient(to right, #ef2844 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
.wrk-btn:hover {
  background-position: left bottom;
}
.wrk-btn a {
  color: white;
  text-decoration: none;
}
.section {
  background-color: #000112;
  color: white;
  padding-top: 10%;
  height: 100vh;
  /* padding-left: 17%; */
}
.skills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
  max-width: 100%;
  /* margin: 10% auto; */
  padding-top: 5%;
}
.skill {
  display: flex;
  flex: 1 0 21%;
  align-items: center;
  margin-bottom: 10%;
  /* width: 50px; */
}
.skill-lang {
  margin-left: 10px;
}
.skill-img {
  width: 25px;
  height: auto;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 5%;
}
.form input {
  width: 100%;
  margin-bottom: 25px;
  height: 35px;
  outline: none;
  border: none;
  padding: 10px;
}
.form > textarea {
  width: 100%;
  margin-bottom: 25px;
  outline: none;
  border: none;
  padding: 10px;
}
.err-msg {
  color: #d22b2b;
  margin-bottom: 10px;
}

.submit {
  border: none;
  outline: none;
  color: white;
  background-color: #d2042d;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
  pointer-events: all;
}
@media screen and (max-width: 768px) {
  .top-container {
    padding: 0;
  }
  .container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .home,
  .section {
    height: auto;
  }
  .left-side {
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
  }
  .right-side {
    width: 250px;
    height: 250px;
  }
  .logo {
    vertical-align: middle;
  }
  .about {
    margin-top: 8%;
  }
  .about,
  .section,
  .contact,
  .nav,
  .work {
    padding: 26px;
    height: auto;
  }
  .projects {
    flex-wrap: wrap;
    padding: 0px;
  }
  .left-project {
    flex: 1 0 100%;
    height: auto;
  }
  .right-project {
    margin-top: 5%;
    padding: 10px;
    margin-left: 0px;
  }
  .skill {
    flex: 1 0 50%;
  }
  .btn-grp {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .home,
  .section {
    height: auto;
  }
  .projects {
    flex-wrap: wrap;
    padding: 0px;
  }
  .left-project {
    flex: 1 0 100%;
    height: auto;
  }
  .right-project {
    margin-top: 5%;
    padding: 10px;
    margin-left: 0px;
  }
}
@media screen and (max-width: 280px) {
  .nav {
    padding: 0px;
    height: auto;
  }
  .right-side {
    margin-left: 0px;
  }
}
